body {
  background-image: url('/flower.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;  /* Minimum height will be the height of the viewport, and it will expand as content grows */
  margin: 0;
  padding: 0;
}
