

.footer {
    background-color: rgba(0, 0, 0, 0.3); 
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    flex-direction: column;  
    text-align: center;       
    gap: 20px;    
      
  }
  
  .textSection {
    max-width: 600px; 
  }
  
  .textSection h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  
  .textSection p {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .contactLink {
    color: rgba(7, 7, 7, 0.7);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .contactLink:hover {
    color: rgba(14, 13, 13, 0.9); 
  }
  
  .socialLinks {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .socialLinks a {
    color: rgba(15, 15, 15, 0.7); 
    text-decoration: none;
    transition: color 0.7s ease;
  }
  
  .socialLinks a:hover {
    color: rgba(10, 10, 10, 0.9);
  }
  

  @media (max-width: 768px) {
    .footer {
      flex-direction: column;  
      text-align: center;
    }
  
    .textSection {
      padding-right: 0;
    }
  
    .contactSection {
      align-items: center;
    }
  }
  