.skillsContainer {
    text-align: center;
    padding: 30px;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .skillsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    
  }
  
  .skillIcon {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  
  @media (max-width: 768px) {
    .title {
      font-size: 1.5rem;
    }
    
    .skillsList {
      gap: 15px;
    }
  
    .skillItem {
      width: 80px;
    }
  
    .skillIcon {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (max-width: 350px) {
    .title {
      font-size: 1.2rem;
    }
  
    .skillItem {
      width: 70px;
    }
  
    .skillIcon {
      width: 35px;
      height: 35px;
    }
  }
  